- version = 'v='+Math.floor((Math.random()*99)+1)
- page_url = 'http://local.perured.pe/'
- page_name = 'Perured.pe'
- static_url = '../'
- img_url = '#{static_url}/img/'
- referer = 'ref=perured'
- img_url = '../img/'
doctype 5
html(lang='es')
	head
		title('Front-End Architecture')
		link(type='text/css', rel='stylesheet', href='#{static_url}css/layout.css?#{version}')
		link(type='text/css', rel='stylesheet', href='#{static_url}css/base.css?#{version}')
		link(type='text/css', rel='stylesheet', href='#{static_url}css/application/modules/default/default.css?#{version}')
		<!--[if lt IE 9]>
		script(src="#{static_url}js/lib/html5shiv.js")
		<![endif]-->
		script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script(type='text/javascript')
			window.jQuery || document.write(unescape('%3Cscript src="#{static_url}js/jquery.min.js" type="text/javascript"%3E%3C/script%3E'))
	body
		header
			.box-center
				h1 
					a(href="#{page_url}", title="#{page_name}")
						img(alt="#{page_name}", src="#{img_url}logo.png?#{version}", width="156", height="65")
						|Perured.pe
				ul(id="main-menu")
					li
						a(href="javascript:;", title="Inicio") Inicio
					li
						a(href="javascript:;", title="C&oacute;mo anunciar") C&oacute;mo anunciar
					li
						a(href="javascript:;", title="Tarifas y medios de pago") Tarifas y medios de pago
					li
						a(href="javascript:;", title="Red de portales") Red de portales
					li
						a(href="javascript:;", title="Promociones") Promociones
					li
						a(href="javascript:;", title="Mi cuenta") Mi cuenta

		#wrapper
			div.hola
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, 
				| egestas id, condimentum at, laoreet mattis, massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				| Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.
				| egestas id, condimentum at, laoreet mattis, massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				| Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.
				| egestas id, condimentum at, laoreet mattis, massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				| Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.

		footer
			.box-center
				span.visit-also Visite tambi&eacute;n:
				ul.visit-also-list
					li
						a(href='http://elcomercio.pe?referer', title='Diario el Comercio', target='_blank') elcomercio.pe
					li
						a(href='http://peru.com?referer', title='Peru.com', target='_blank') peru.com
					li
						a(href='http://peru21.pe?referer', title='Diario Perú21', target='_blank') peru21.pe
					li
						a(href='http://laprensa.com.pe?referer', title='La Prensa', target='_blank') laprensa.com.pe
					li
						a(href='http://gestion.pe?referer', title='Diario Gestión', target='_blank') gestion.pe
					li
						a(href='http://depor.pe?referer', title='Depor.pe', target='_blank') depor.pe
					li
						a(href='http://trome.pe?referer', title='Diario Trome', target='_blank') trome.pe
					li
						a(href='http://publimetro.pe?referer', title='Publimetro', target='_blank') publimetro.pe
					li
						a(href='http://gec.pe?referer', title='GEC', target='_blank') gec.pe
					li
						a(href='http://clasificados.pe/?referer', title='Clasificados', target='_blank') clasificados.pe
					li
						a(href='http://aptitus.pe?referer', title='Aptitus', target='_blank') aptitus.pe
					li
						a(href='http://kotear.pe?referer', title='Kotear', target='_blank') kotear.pe
					li
						a(href='http://urbania.pe?referer', title='Urbania', target='_blank') urbania.pe
					li
						a(href='http://neoauto.pe?referer', title='Neoauto', target='_blank') neoauto.pe
					li
						a(href='http://guiagps.pe?referer', title='GuiaGPS', target='_blank') guiagps.pe
					li
						a(href='http://ofertop.pe?referer', title='Ofertop', target='_blank') ofertop.pe
					li
						a(href='http://iquiero.com?referer', title='iQuiero', target='_blank') iquiero.com
					li
						a(href='http://nuestromercado.pe?referer', title='NuestroMercado', target='_blank') nuestromercado.pe
					li
						a(href='http://pagoefectivo.pe?referer', title='PagoEfectivo', target='_blank') pagoefectivo.pe
					li.last
						a(href='http://clubsuscriptores.pe?referer', title='Club de Suscriptores', target='_blank') clubsuscriptores.pe