.box-center
	h1 
		a(href="#{page_url}", title="#{page_name}")
			img(alt="#{page_name}", src="#{img_url}logo.png?#{version}", width="156", height="65")
			|Perured.pe
	ul(id="main-menu")
		li
			a(href="javascript:;", title="Inicio") Inicio
		li
			a(href="javascript:;", title="C&oacute;mo anunciar") C&oacute;mo anunciar
		li
			a(href="javascript:;", title="Tarifas y medios de pago") Tarifas y medios de pago
		li
			a(href="javascript:;", title="Red de portales") Red de portales
		li
			a(href="javascript:;", title="Promociones") Promociones
		li
			a(href="javascript:;", title="Mi cuenta") Mi cuenta